:root {
  --Red: hsl(0, 78%, 62%);
  --Cyan: hsl(180, 62%, 55%);
  --White: hsl(0, 0%, 100%);
  --Orange: hsl(34, 97%, 64%);
  --Blue: hsl(212, 86%, 64%);
  --very-dark-blue: hsl(234, 12%, 34%);
  --grayish-blue: hsl(229, 6%, 66%);
  --very-light-gray: hsl(0, 0%, 98%);
}
/**=====================================================**
                    RESET
=======================================================**/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/**=====================================================**
                   BODY
=======================================================**/
body {
  font-size: 15px;
  font-family: 'Poppins';

} 

/**=====================================================**
                   SECTION
=======================================================**/
section{
  background-color: var(--very-light-gray);
  padding: 50px 0;
}
.section-row{
  max-width: 525px;
  margin: 1rem auto;
  padding: 0 3rem;
  text-align: center;
}  
.section-row .section-title{
   color: var(--very-dark-blue);
   font-weight: 300;
   margin-bottom: 20px; 
   font-size: 1.4rem;
} 
.section-row .section-title span{
  font-weight: 700;
  
}  
.section-cards{
  margin: 2rem 8% 0;


} 
.section-cards .card{
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; 
  border-radius: 5px;
  margin-bottom: 3rem;
  padding: 2.4rem 3rem;
} 
.section-cards .card.card-supervisor{
  border-top: 5px solid var(--Cyan); 
  
}
.section-cards .card.card-team-builder{
  border-top: 5px solid var(--Red); 
  
}
.section-cards .card.card-karma{
  border-top: 5px solid var(--Orange); 
  
}
.section-cards .card.card-calculator{
  border-top: 5px solid var(--Blue); 
  
} 
.section-cards .card h3{
  margin: 0;
  color: var(--very-dark-blue); 

  font-size: 2rem; 
  
  
} 
.section-cards p{
  margin: 10px 0;
  padding: 0 5px;
}
.section-cards .img-container{

  display: flex;
  justify-content: flex-end;
} 
@media screen and (min-width:375px) { 
  .section-row .section-title{
    font-size: 1.5rem;
  }
  .section-cards{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
  
  
  }  
  .section-cards .card{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; 
    border-radius: 5px;
    margin-bottom: 1rem;
    padding:1rem 1rem;
  }  
  .section-cards .card h3{
    margin: 0;
    color: var(--very-dark-blue); 
    /* display: none; */
    font-size: 1.5rem;
  }   
  

} 

@media screen and (min-width:900px) { 
  .section-row .section-title{
    font-size: 2.0rem;
  }
  .section-cards{
  
    grid-template-columns: 1fr 1fr 1fr ; 
    grid-template-rows: 1fr 1fr;
    grid-gap: 1rem; 
    grid-gap: 2rem;
    grid-template-areas: 
    
    "first middle last"
    "first middle2 last" ;
  
  }  
  .section-cards .card.card-supervisor{
    grid-area: first;
    align-self: center;
  } 
  .section-cards .card.card-team-builder{
    grid-area: middle;
  } 
  .section-cards .card.card-karma{
    grid-area:middle2;
  } 
  .section-cards .card.card-calculator{
   grid-area: last;
   align-self: center;
    
  }  
  .section-cards .card h3{
    font-size: 2rem;
  } 
  .section-cards .card{
 
 
    margin-bottom: 1rem;
    padding: 2.4rem 3rem;
  } 
} 